# 登入帳號密
SYSTEM_USER="nchc"
SYSTEM_KEY="nchcservice"

# AnythingLLM儲存位置
STORAGE_DIR="/app/server/storage"

# OPENAI 相容套件金鑰
OPENAI_API_BASE_URLS="https://api.openai.com/v1;https://api.groq.com/openai/v1"
OPENAI_API_KEYS="sk-;gsk_"

# HF_TOKEN
HF_TOKEN="hf_"
